.past-contest-class{
  background: gray !important;
  color: white !important;
}

.live-contest-class{
    background: brown !important;
    color: white !important;
}

.nav-btn:hover{transition: 0.3s; border-bottom: 1px solid white;}
